@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.HeaderSection, .haederUP, .headerBottomBottom, section {
  max-width: 1120px;
  margin: 0 auto;
}

.headerNav {
  background: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.headerNav .haederUP {
  display: flex;
  justify-content: space-between;
}
.headerNav .haederUP h1 {
  color: #CC9933;
  margin-top: 42px;
  font-size: 48px;
  font-weight: bold;
}
.headerNav .haederUP .haederUP__a {
  margin-top: 42px;
  display: flex;
  align-items: center;
}
.headerNav .haederUP .haederUP__a .buttonHaederUP {
  padding: 12px 16px;
  font-weight: bold;
  background: #3F51F6;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
.headerNav .haederUP .haederUP__a img {
  width: 24px;
  margin-right: 8px;
}
.headerNav .haederUP .buttonHaederUP:hover {
  cursor: pointer;
  background-color: #303FC8;
  transition: 0.2s all ease-in-out;
}
.headerNav .HeaderSection {
  display: flex;
  flex-direction: column;
}
.headerNav .HeaderSection h1 {
  white-space: nowrap;
  color: #fff;
  margin-top: 61px;
  font-size: 72px;
  min-width: 409px;
  transform: scale(0.7);
  transform-origin: left;
}
.headerNav .HeaderSection p {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #fff;
  margin-top: 16px;
  max-width: 540px;
}
.headerNav .header_BottomBottom {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.headerNav .header_BottomBottom .header_BottomBottom__left {
  margin-bottom: 174px;
}
.headerNav .header_BottomBottom .header_BottomBottom__left .headerBottomBottom {
  border: none;
  margin-top: 48px;
  padding: 12px 16px;
  background: #3F51F6;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.headerNav .header_BottomBottom .header_BottomBottom__left .headerBottomBottom img {
  width: 24px;
  margin-right: 8px;
}
.headerNav .header_BottomBottom .header_BottomBottom__left .headerBottomBottom:hover {
  cursor: pointer;
  background-color: #303FC8;
  transition: 0.2s all ease-in-out;
}

.sectionIformation {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 64px;
  justify-content: space-between;
  margin: 0 auto;
}
.sectionIformation article {
  max-width: 298.73px;
  margin-top: 67px;
}
.sectionIformation article h2 {
  color: #CC9933;
  font-size: 64px;
  font-weight: 700;
}
.sectionIformation article p {
  font-family: "Lora", serif;
}

.sectionLink {
  display: flex;
  justify-content: space-between;
}
.sectionLink .ul__li--dot {
  display: flex;
  flex-direction: column;
}
.sectionLink .sectionLink-Program {
  margin-top: 122px;
}
.sectionLink .sectionLink-Program h2 {
  color: #CC9933;
  font-size: 64px;
}
.sectionLink .sectionLink-Program .ul {
  list-style: none;
}
.sectionLink .sectionLink-Program .ul .ul__li {
  color: #CC9933;
  margin-top: 48px;
  font-size: 36px;
}
.sectionLink .sectionLink-Program .ul .ul__li .ul__li__dot {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sectionLink .sectionLink-Program .ul .ul__li .ul__li__dot .dot {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.sectionLink .sectionLink-Program .ul .ul__li .ul__li__dot h4 {
  font-size: 36px;
  font-weight: bold;
  color: #262626;
}
.sectionLink .sectionLink-Program .ul .ul__li .ul__li__line {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Lora", serif;
  color: #262626;
}
.sectionLink .sectionLink-Program .ul .ul__li .ul__li__line .line {
  margin-top: 17px;
  margin-left: 8px;
  margin-right: 35px;
  align-items: center;
  width: 1px;
  height: 64px;
}
.sectionLink .sectionLink-Program .ul .ul__li .ul__li__li {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 24px;
}
.sectionLink .sectionLink-Program .ul .ul__li .ul__li__li img {
  width: 24px;
  color: #262626;
  margin-right: 8px;
}
.sectionLink .sectionLink-Program .ul .ul__li--last {
  margin-bottom: 139px;
}

.section__tickets {
  margin-top: 122px;
}
.section__tickets h2 {
  font-size: 64px;
  color: #CC9933;
}
.section__tickets form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section__tickets form input {
  font-family: "Lora", serif;
  width: 480px;
  height: 50px;
  padding: 16px;
}
.section__tickets form .notificationName, .section__tickets form .notificationEmail, .section__tickets form .notificationPhone {
  font-size: 25px;
  font-weight: bold;
  color: #ff0000;
  background-color: #262626;
  display: none;
}
.section__tickets form .nameInput {
  display: none;
  border: 6px solid red;
  border-radius: 5px;
}
.section__tickets form p {
  font-family: "Lora", serif;
}
.section__tickets form .notificationName {
  margin-top: 48px;
}
.section__tickets form .section__input--Name {
  margin-top: 48px;
}
.section__tickets form .section__input {
  margin-top: 24px;
}
.section__tickets form .section__tickets--checkbox:hover {
  cursor: pointer;
}
.section__tickets form .div__checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
.section__tickets form .div__checkbox .section__tickets--checkbox {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
.section__tickets form .div__checkbox .section__tickets--lable .sanp--BB {
  border-bottom: 1px solid #000;
}
.section__tickets form .section__tickets--button {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 16px;
  width: 480px;
  height: 48px;
  background-color: #3F51F6;
  color: #fff;
  border: none;
}
.section__tickets form .section__tickets--button:hover {
  cursor: pointer;
  background-color: #303FC8;
  transition: 0.2s all ease-in-out;
}

@media (max-width: 1165px) {
  .sectionLink .sectionLink-Program ul .ul__li .ul__li__dot h4 {
    font-size: 25px;
  }
}
@media (max-width: 986px) {
  .sectionIformation {
    display: flex;
    flex-direction: column;
  }
  .sectionIformation .section__article {
    margin-left: 0;
  }
  .sectionLink {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .sectionLink .sectionLink-Program {
    margin-top: 61px;
  }
  .sectionLink .sectionLink-Program h2 {
    font-size: 32px;
  }
  .sectionLink .sectionLink-Program .ul {
    margin-top: 24px;
  }
  .sectionLink .sectionLink-Program .ul .ul__li {
    font-size: 36px;
  }
  .sectionLink .sectionLink-Program .ul .ul__li--last {
    margin-bottom: 0;
  }
  .section__tickets {
    margin-top: 61px;
  }
  .section__tickets h2 {
    font-size: 32px;
  }
}
@media (max-width: 715px) {
  .headerNav .haederUP {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .headerNav .HeaderSection {
    text-align: center;
    align-items: center;
  }
  .headerNav .HeaderSection h1 {
    margin-top: 30px;
    transform-origin: center;
  }
  .headerNav .HeaderSection p {
    margin-left: 0px;
    max-width: 220px;
  }
  .headerNav .header_BottomBottom {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 483px) {
  .headerNav .HeaderSection h1 {
    font-size: 48px;
    min-width: 300px;
  }
  .sectionIformation article h2 {
    font-size: 36px;
  }
  .sectionLink .sectionLink-Program {
    margin-top: 30px;
  }
  .sectionLink .sectionLink-Program h2 {
    font-size: 32px;
  }
  .sectionLink .sectionLink-Program .ul {
    margin-top: 0px;
  }
  .sectionLink .sectionLink-Program .ul .ul__li .ul__li__dot h4 {
    font-size: 20px;
  }
  .sectionLink .sectionLink-Program .ul .ul__li .ul__li__line .ul__li__li {
    font-size: 15px;
  }
  .section__tickets {
    margin-top: 30px;
  }
  .section__tickets h2 {
    font-size: 32px;
  }
  .section__tickets form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section__tickets form .notificationName, .section__tickets form .notificationEmail, .section__tickets form .notificationPhone {
    font-size: 20px;
  }
  .section__tickets form .section__input--Name {
    margin-top: 24px;
  }
  .section__tickets form input {
    max-width: 240px;
  }
  .section__tickets form .div__checkbox .section__tickets--lable {
    font-size: 11px;
  }
  .section__tickets form .section__tickets--button {
    max-width: 240px;
  }
}/*# sourceMappingURL=style.css.map */