@import "variabels";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}
.HeaderSection, .headerBottonBotton, section{
  max-width: 1120px;
  margin: 0 auto;
}
//************ header ********//
.headerNav{
  background: radial-gradient(rgba(40, 38, 38, 0.332),rgb(38, 37, 37)),url(../img/event.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .haederUP{
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    h1{
      
      color: $yellow;
      margin-top: 42px;
      font-size: 48px;
      font-weight: bold;
    }
    .buttonHaederUP{
      border: none;
      margin-top: 42px;
      padding: 12px 16px;
      font-size: 16px;
      font-weight: bold;
      background: $buttonPri;
      color: $white;
      display: flex;
      align-items: center;
      text-align: center;
      img{
        width: 24px;
        margin-right: 8px;
      }
    }
    .buttonHaederUP:hover{
      cursor: pointer;
      background-color: $buttonHover;
      transition: .2s all ease-in-out;
    }
  }
  .HeaderSection{
    display: flex;
    flex-direction: column;
    h1{

      color: $white;
      margin-top: 61px;
      font-size: 38px;
      min-width: 409px;
    }
    p{
      font-family: 'Lora', serif;
      font-size: 16px;
      color: $white;
      margin-top: 16px;
      max-width: 540px;
    }
  }
  .header_BottonBotton{
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .header_BottonBotton__left{
      .headerBottonBotton{
        border: none;
        margin-top: 48px;
        padding: 12px 16px;
        background: $buttonPri;
        color: $white;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        img{
          width: 24px;
          margin-right: 8px;
        }
      }
      .headerBottonBotton:hover{
        cursor: pointer;
        background-color: $buttonHover;
        transition: .2s all ease-in-out;
      }
    }
  }
}
//*********** section***********//
.sectionIformation{
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 64px;
  justify-content: space-between;
  article{
    max-width: 298.73px;
    font-size: 16px;
    h2{
      color: $yellow;
      font-size: 64px;
    }
    p{
      font-family: 'Lora', serif;
    }
  }
}
//***** section LINK *****/
.sectionLink{
  display: flex;
  justify-content: space-between;
  .ul__li--dot{
    display: flex;
    flex-direction: column;
  }
  .sectionLink-Program{
    margin-top: 122px;
    h2{
      color: $yellow;
      font-size: 64px;
    }
    .ul{
      list-style: none;
      .ul__li{
        color: $yellow;
        margin-top: 48px;
        font-size: 36px;
        .ul__li__dot{
          display: flex;
          flex-direction: row;
          align-items: center;
          .dot{
            width: 20px;
            height: 20px;
            margin-right: 20px;
          }
          h4{
            font-size: 36px;
            font-weight: bold;
            color: $black;
          }
        }
        .ul__li__line{
          display: flex;
          flex-direction: row;
          align-items: center;
          font-family: 'Lora', serif;
          .line{
            margin-top: 17px;
            margin-left: 8px;
            margin-right: 35px;
            align-items: center;
            width: 1px;
            height: 64px;
          }
        }
        .ul__li__li{
          display: flex;
          align-items: center;
          margin-top: 20px;
          font-size: 24px;
          color: $black;
          img{
            width: 24px;
            color: $black;
            margin-right: 8px;
          }
        }
      }
      .ul__li--last{
        margin-bottom: 139px;
      }
    }
  }
}
//**** section Tickets ***/

.section__tickets{
  margin-top: 122px;
  
  h2{
    font-size: 64px;
    color: $yellow;
  }
  
  form{
    display: flex;
    flex-direction: column;
    text-align: center;
    .notificationName, .notificationEmail, .notificationPhone{
      font-size: 25px;
      font-weight: bold;
      color: $warning;
      background-color: $black;
      display: none;
    }
    p{
      font-family: 'Lora', serif;
    }
    .notificationName{
      margin-top: 48px;
    }
    input{
    width: 480px;
    height: 50px;
    padding: 16px;
    }
    .section__input--one{
      margin-top: 48px;
    }
    .section__input--two{
      margin-top: 24px;

    }
    .section__input--three{
      margin-top: 24px;
    }
    .section__tickets--checkbox:hover{
      cursor: pointer;
    }
    .div__checkbox{
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      margin-top: 30px;
      .section__tickets--checkbox{
        width: 18px;
        height: 18px;
        
        margin-right: 8px;
      }
      .section__tickets--lable{
        
        .sanp--BB{
          border-bottom: 1px solid $blackBottom;
        }
      }
    }
    .section__tickets--button{
      margin-top: 16px;
      width: 480px;
      height: 48px;
      background-color: $buttonPri;
      color: $white;
      border: none;
    }
    .section__tickets--button:hover{
      cursor: pointer;
      background-color: $buttonHover;
      transition: .2s all ease-in-out;
    }
  }
}
@media (max-width:1165px) {
  .sectionLink{
    .sectionLink-Program{
      
      ul{
        .ul__li{
          .ul__li__dot{
            h4{
              font-size: 25px;
            }
          }
        }
      }
    }
  }
  
}
@media (max-width:986px) {
  .sectionIformation{
    display: flex;
    flex-direction: column;
    .section__article-one{
      margin-left: 0;
    }
    .section__article-three{
      margin-right: 0;
    }
  }
  .sectionLink{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .sectionLink-Program{
      margin-left: 0;
      margin-top: 61px;
      h2{
        font-size: 32px;
      }
      ul{
        margin-top: 24px;
        .ul__li{
          font-size: 36px;
        }
        .ul__li--last{
          margin-bottom: 0;
        }
      }
    }
  }
  .section--tickets{
    margin-top: 61px;
    h2{
      font-size: 32px;
    }
  }
}
@media (max-width:715px) {
  .headerNav{
    
    .haederUP{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      h3{
        margin-left: 0;
        
      }
      .buttonHaederUP{
        margin-right: 0;
        margin-left: 80px;
      }
    }
    .HeaderSection{
      text-align: center;
      align-items: center;
      h1{
        margin-left: 0;
        margin-top: 30px;
      }
      p{
        margin-left: 0px;
        max-width: 220px;
      }
    }
    .headerBottonBotton{
      margin-left: 0;
    }
  }
}
@media (max-width:483px) {
  .sectionLink{
    .sectionLink-Program{
      margin-left: 0;
      margin-top: 30px;
      h2{
        font-size: 32px;
      }
      ul{
        margin-top: 12px;
        .ul__li{
          font-size: 20px;
        }
      }
    }
  }
  .section--tickets{
    margin-right: 0;
    margin-top: 62px;
    h2{
      font-size: 32px;
    }
    input{
      width: 240px;
      margin-left: 120px;
    }
  }
}
