@import "variabels";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}
//************ header ********//
.headerNav{
  height: 600px;
  background: radial-gradient(rgba(40, 38, 38, 0.332),rgb(38, 37, 37)),url(../img/eventimg.png);
  background: cover;
  background-repeat: no-repeat;
  .haederUP{
    display: flex;
    justify-content: space-between;
    h3{
      color: $yellow;
      margin-top: 42px;
      margin-left: 160px;
      width: 119px;
      font-size: 48px;
      font-weight: bold;
    }
    .buttonHaederUP{
      margin-top: 42px;
      margin-right: 160px;
      padding: 12px 16px;
      font-size: 16px;
      font-weight: bold;
      background: $buttonPri;
      color: $white;
      display: flex;
      align-items: center;
      text-align: center;
      img{
        width: 24px;
        margin-right: 8px;
      }
    }
    .buttonHaederUP:hover{
      cursor: pointer;
    }
  }
  .HeaderSection{
    display: flex;
    flex-direction: column;
    h1{

      color: $white;
      margin-top: 61px;
      margin-left: 160px;
      font-size: 38px;
      min-width: 409px;
    }
    p{
      font-size: 16px;
      color: $white;
      margin-left: 160px;
      margin-top: 16px;
      max-width: 540px;
    }
  }
  .headerBottonBotton{
    margin-top: 48px;
    margin-left: 160px;
    padding: 12px 16px;
    background: $buttonPri;
    color: $white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    img{
      width: 24px;
      margin-right: 8px;
    }
    margin-bottom: 177px;
  }
  .headerBottonBotton:hover{
    cursor: pointer;
  }
}
//*********** section***********//
.sectionIformation{
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 64px;
  justify-content: space-between;
  article{
    max-width: 298.73px;
    font-size: 16px;
    h2{
      color: $yellow;
      font-size: 64px;
    }
  }
  .section__article-one{
    margin-left: 160px;
  }
  .section__article-two{

  }
  .section__article-three{
    margin-right: 160px;
  }
}
//***** section LINK *****/
.sectionLink{
  display: flex;
  justify-content: space-between;
  div{
    display: flex;
    flex-direction: column;
  }
  .sectionLink-Program{
    margin-left: 160px;
    margin-top: 122px;
    h2{
      color: $yellow;
      font-size: 64px;
    }
    ul{
      margin-top: 48px;
      .ul--li{
        color: $black;
        margin-top: 48px;
        font-size: 36px;
        color: $black;
        .ul__li--li{
          margin-top: 20px;
          font-size: 24px;

          img{
            width: 24px;
          }
        }
      }
    }
  }
}
//**** section Tickets ***/

.section--tickets{
  margin-right: 160px;
  margin-top: 122px;
  h2{
    font-size: 64px;
    color: $yellow;
  }
  input{
    width: 480px;
    height: 50px;
    padding: 16px;
  }
  .section__input--one{
    margin-top: 48px;
  }
  .section__input--two{
    margin-top: 24px;
  }
  .section__input--three{
    margin-top: 24px;
  }
  .section__tickets--checkbox{
    width: 18px;
    height: 18px;
    margin-top: 30px;
    display: flex;
  }
  .section__tickets--checkbox:hover{
    cursor: pointer;
  }
  .section__tickets--lable{
    span{
      border-bottom: 1px solid $blackBottom;
    }
  }
  .section__tickets--button{
    margin-top: 16px;
    width: 480px;
    height: 48px;
    background-color: $buttonPri;
    color: $white;
    border: none;
  }
  .section__tickets--button:hover{
    cursor: pointer;
  }
}
@media (max-width:1154px) {
  .sectionLink{
    .sectionLink-Program{
      h2{
        font-size: 34px;
      }
      ul{
        .ul--li{
          font-size: 18px;
          .ul__li--li{
            font-size: 12px;
          }
        }
      }
    }
  }
  .section--tickets{
    h2{
      font-size: 32px;
    }
  }
}
@media (max-width:986px) {
  .sectionIformation{
    display: flex;
    flex-direction: column;
    .section__article-one{
      margin-left: 0px;
    }
    .section__article-three{
      margin-right: 0px;
    }
  }
  .sectionLink{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .sectionLink-Program{
      margin-left: 0px;
      margin-top: 61px;
      h2{
        font-size: 64px;
      }
      ul{
        margin-top: 24px;
        .ul--li{
          font-size: 36px;
        }
      }
    }
  }
  .section--tickets{
    margin-right: 0px;
    h2{
      font-size: 64px;
    }
  }
}
@media (max-width:715px) {
  .headerNav{
    
    .haederUP{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      h3{
        margin-left: 0px;
        
      }
      .buttonHaederUP{
        margin-right: 0px;
        margin-left: 80px;
      }
    }
    .HeaderSection{
      text-align: center;
      align-items: center;
      h1{
        margin-left: 0px;
        margin-top: 30px;
      }
      p{
        margin-left: 0px;
        max-width: 220px;
      }
    }
    .headerBottonBotton{
      margin-left: 0px;
    }
  }
}
@media (max-width:483px) {
  .sectionLink{
    .sectionLink-Program{
      margin-left: 0px;
      margin-top: 30px;
      h2{
        font-size: 32px;
      }
      ul{
        margin-top: 12px;
        .ul--li{
          font-size: 20px;
        }
      }
    }
  }
  .section--tickets{
    margin-right: 0px;
    margin-top: 62px;
    h2{
      font-size: 32px;
    }
    input{
      width: 240px;
      margin-left: 120px;
    }
  }
}
