* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}

.headerNav {
  height: 600px;
  background: radial-gradient(rgba(40, 38, 38, 0.332), #262525), url(../img/eventimg.png);
  background: cover;
  background-repeat: no-repeat;
}

.headerNav .haederUP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerNav .haederUP h3 {
  color: #CC9933;
  margin-top: 42px;
  margin-left: 160px;
  width: 119px;
  font-size: 48px;
  font-weight: bold;
}

.headerNav .haederUP .buttonHaederUP {
  border: none;
  margin-top: 42px;
  margin-right: 160px;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: bold;
  background: #3F51F6;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.headerNav .haederUP .buttonHaederUP img {
  width: 24px;
  margin-right: 8px;
}

.headerNav .haederUP .buttonHaederUP:hover {
  cursor: pointer;
}

.headerNav .HeaderSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headerNav .HeaderSection h1 {
  color: #fff;
  margin-top: 61px;
  margin-left: 160px;
  font-size: 38px;
  min-width: 409px;
}

.headerNav .HeaderSection p {
  font-size: 16px;
  color: #fff;
  margin-left: 160px;
  margin-top: 16px;
  max-width: 540px;
}

.headerNav .headerBottonBotton {
  border: none;
  margin-top: 48px;
  margin-left: 160px;
  padding: 12px 16px;
  background: #3F51F6;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 177px;
}

.headerNav .headerBottonBotton img {
  width: 24px;
  margin-right: 8px;
}

.headerNav .headerBottonBotton:hover {
  cursor: pointer;
}

.sectionIformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionIformation article {
  max-width: 298.73px;
  font-size: 16px;
}

.sectionIformation article h2 {
  color: #CC9933;
  font-size: 64px;
}

.sectionIformation .section__article-one {
  margin-left: 160px;
}

.sectionIformation .section__article-three {
  margin-right: 160px;
}

.sectionLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionLink div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionLink .sectionLink-Program {
  margin-left: 160px;
  margin-top: 122px;
}

.sectionLink .sectionLink-Program h2 {
  color: #CC9933;
  font-size: 64px;
}

.sectionLink .sectionLink-Program ul {
  margin-top: 48px;
}

.sectionLink .sectionLink-Program ul .ul--li {
  color: #262626;
  margin-top: 48px;
  font-size: 36px;
  color: #262626;
}

.sectionLink .sectionLink-Program ul .ul--li .ul__li--li {
  margin-top: 20px;
  font-size: 24px;
}

.sectionLink .sectionLink-Program ul .ul--li .ul__li--li img {
  width: 24px;
}

.section--tickets {
  margin-right: 160px;
  margin-top: 122px;
}

.section--tickets h2 {
  font-size: 64px;
  color: #CC9933;
}

.section--tickets input {
  width: 480px;
  height: 50px;
  padding: 16px;
}

.section--tickets .section__input--one {
  margin-top: 48px;
}

.section--tickets .section__input--two {
  margin-top: 24px;
}

.section--tickets .section__input--three {
  margin-top: 24px;
}

.section--tickets .section__tickets--checkbox {
  width: 18px;
  height: 18px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section--tickets .section__tickets--checkbox:hover {
  cursor: pointer;
}

.section--tickets .section__tickets--lable span {
  border-bottom: 1px solid #000;
}

.section--tickets .section__tickets--button {
  margin-top: 16px;
  width: 480px;
  height: 48px;
  background-color: #3F51F6;
  color: #fff;
  border: none;
}

.section--tickets .section__tickets--button:hover {
  cursor: pointer;
}

@media (max-width: 1154px) {
  .sectionLink .sectionLink-Program h2 {
    font-size: 34px;
  }
  .sectionLink .sectionLink-Program ul .ul--li {
    font-size: 18px;
  }
  .sectionLink .sectionLink-Program ul .ul--li .ul__li--li {
    font-size: 12px;
  }
  .section--tickets h2 {
    font-size: 32px;
  }
}

@media (max-width: 986px) {
  .sectionIformation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sectionIformation .section__article-one {
    margin-left: 0px;
  }
  .sectionIformation .section__article-three {
    margin-right: 0px;
  }
  .sectionLink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sectionLink .sectionLink-Program {
    margin-left: 0px;
    margin-top: 61px;
  }
  .sectionLink .sectionLink-Program h2 {
    font-size: 64px;
  }
  .sectionLink .sectionLink-Program ul {
    margin-top: 24px;
  }
  .sectionLink .sectionLink-Program ul .ul--li {
    font-size: 36px;
  }
  .section--tickets {
    margin-right: 0px;
  }
  .section--tickets h2 {
    font-size: 64px;
  }
}

@media (max-width: 715px) {
  .headerNav .haederUP {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headerNav .haederUP h3 {
    margin-left: 0px;
  }
  .headerNav .haederUP .buttonHaederUP {
    margin-right: 0px;
    margin-left: 80px;
  }
  .headerNav .HeaderSection {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerNav .HeaderSection h1 {
    margin-left: 0px;
    margin-top: 30px;
  }
  .headerNav .HeaderSection p {
    margin-left: 0px;
    max-width: 220px;
  }
  .headerNav .headerBottonBotton {
    margin-left: 0px;
  }
}

@media (max-width: 483px) {
  .sectionLink .sectionLink-Program {
    margin-left: 0px;
    margin-top: 30px;
  }
  .sectionLink .sectionLink-Program h2 {
    font-size: 32px;
  }
  .sectionLink .sectionLink-Program ul {
    margin-top: 12px;
  }
  .sectionLink .sectionLink-Program ul .ul--li {
    font-size: 20px;
  }
  .section--tickets {
    margin-right: 0px;
    margin-top: 62px;
  }
  .section--tickets h2 {
    font-size: 32px;
  }
  .section--tickets input {
    width: 240px;
    margin-left: 120px;
  }
}
/*# sourceMappingURL=style.css.map */